.containerLogged {
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: center;
    background: white;
    flex-direction: column;
    justify-content: center;
}

.descriptionLogged {
    font-size: 2vh;
    width: 75%;
    color: #666666;
}

h4 {
    color: #c81685;
}

.infoLogged {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cardLogged {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
    align-items: center;
    justify-content: flex-start;
    background: #F6F6F6;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.formGroupLogged {
    width: 75%;
    height: 58vh;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.telInputLogged {
    width: 75%;
    height: 5vh;
    font-size: 2.5vh;
    border-radius: 10px;
    border: solid 1px gray;
    padding-left: 1.5vw;
}

.inputGroupLogged {
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}