.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
  background: white;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 80vw;
  align-items: center;
  justify-content: flex-start;
  background: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.half-card {
  display: flex;
  width: 50%;
  height: 100%;
}